
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
    