.gallery-item {
    width: 300px; /* Adjust the width as desired */
    height: 250px; /* Adjust the height as desired */  
  }
.gallery-item img{
    width: 300px; /* Adjust the width as desired */
    height: 250px; /* Adjust the height as desired */
  }

  .gallery{
    margin: auto 20px;
    justify-content: space-evenly;
  }