



.novel-primary-color{
  color: #7E4C4F;
}

.novel-secondary-color{
  color: #F6AB4A;
}

/* light color of secondary color */
.novel-second-secondary-color{
  color: #FBEDDC;
}



/* ---------font --------- */
.primary-font {
  font-family: 'Freedoka', sans-serif;
}

.secondary-font {
  font-family: 'Pacifico', cursive;
}

.default-font {
  font-family: sans-serif;
}

